<launch>
  <arg name="image_topic" default="/hikrobot_camera/rgb/compressed" />
  <arg name="use_compressed" default="true" />

  <arg name="model" default="ssd-mobilenet-v2" />
  <arg name="threshold" default="0.5" />

  <arg name="enable_tracking" default="true" />
  <arg name="tracker_min_frames" default="3" />
  <arg name="tracker_drop_frames" default="15" />
  <arg name="tracker_overlap" default="0.5" />

  <arg name="publish_overlay" default="true" />

  <node pkg="jetson_vision_detect" type="detect_track_node.py" name="jetson_detect_track" output="screen">
    <param name="image_topic" value="$(arg image_topic)" />
    <param name="use_compressed" value="$(arg use_compressed)" />

    <param name="model" value="$(arg model)" />
    <param name="threshold" value="$(arg threshold)" />

    <param name="enable_tracking" value="$(arg enable_tracking)" />
    <param name="tracker_min_frames" value="$(arg tracker_min_frames)" />
    <param name="tracker_drop_frames" value="$(arg tracker_drop_frames)" />
    <param name="tracker_overlap" value="$(arg tracker_overlap)" />

    <param name="publish_overlay" value="$(arg publish_overlay)" />
  </node>
</launch>
