<launch>
  <arg name="input_topic" default="/hikrobot_camera/rgb/compressed" />
  <arg name="output_topic" default="/hikrobot_camera/rgb/leveled/compressed" />
  <arg name="source_frame" default="hikrobot_camera" />
  <arg name="parent_frame" default="body_leveled" />
  <arg name="output_frame" default="hikrobot_camera_leveled" />
  <arg name="extrinsic_direction" default="lidar_to_camera" />
  <arg name="publish_static_tf" default="true" />

  <node pkg="hikrobot_camera"
        type="camera_frame_transform_node"
        name="camera_frame_transform"
        output="screen">
    <rosparam command="load" file="$(find hikrobot_camera)/config/camera_frame_transform.yaml" />
    <param name="input_topic" value="$(arg input_topic)" />
    <param name="output_topic" value="$(arg output_topic)" />
    <param name="source_frame" value="$(arg source_frame)" />
    <param name="parent_frame" value="$(arg parent_frame)" />
    <param name="output_frame" value="$(arg output_frame)" />
    <param name="extrinsic_direction" value="$(arg extrinsic_direction)" />
    <param name="publish_static_tf" value="$(arg publish_static_tf)" />
  </node>
</launch>
